<div class="py-5">
  <div class="card p-3">
    <img src="/images/doctor.svg" height="200"/>
    <div class="title pt-3 pb-3">Your Medical Records</div>
    <ng-container *ngFor="let booking of allBookings; let index = index">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title d-flex align-items-center">Appointment on {{booking.timestamp}}<span class="badge bg-secondary ms-2" *ngIf="booking.id === nextBooking?.id">Next Appointment</span></h5>
          <h6 class="card-subtitle mb-3 text-muted">with Doctor {{booking.doctor?.first_name}} {{booking.doctor?.last_name}}</h6>
          <p class="card-text">Request: {{booking.requestDescription}}</p>
          <p class="card-text">Diagnosis: {{booking.diagnosisDescription ? booking.diagnosisDescription : 'To be determined'}}</p>
          <button type="button" class="btn btn-primary mt-3" [routerLink]="['/patient/records/', booking.id]">See more</button>
        </div>
      </div>
      <img src="/images/dotted.svg" class="dots" *ngIf="index < allBookings.length - 1" />
    </ng-container>
  </div>
</div>
